{% extends '../base.html' %}

{% load static %}

{% block title %}
Page Not Found
{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/index/404.css' %}">
{% endblock custom_css %}

{% block main_content %}
<div class="error-wrapper">
    <div class="content">
        <div class="image">
            <img src="{% static 'images/404.svg' %}" alt="404 Error">
        </div>
        <div class="title-text">Are you lost?</div>
    </div>
</div>
{% endblock main_content %}