{% extends '../base.html' %}

{% load static %}

{% block title %}
Terms and Conditions
{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/index/terms_and_conditions.css' %}">
{% endblock custom_css %}

{% block main_content %}
<div class="terms-wrapper">
    <div class="content">
        <div class="heading">Terms and Conditions</div>
        <div class="title">Acceptance of Terms and Conditions</div>
        <div class="description">Welcome to www.mibiome.com. All information and services displayed on the www.mibiome.com website constitute an “invitation to offer”. Your request for availment constitutes your offer which shall be subject to the terms and conditions as listed below. All the terms and conditions form an Agreement regulating our relationship with regard to use of online transactions.</div>
        <div class="description">All the terms and conditions must be read very carefully. If you do not agree to any of the terms and conditions, you should not use this service. Your use of a Site shall constitute your acceptance of these terms and you also agree to be bound by any such changes/revisions. By using this facility, you accept that this will form a legal binding agreement between you and miBiome.</div>
        <div class="title">Definitions</div>
        <div class="description">“Agreement” means the terms and conditions as detailed herein including all schedules, appendices, annexures, privacy policy, and will include the references to this Agreement as amended, supplemented, varied or replaced from time to time.</div>
        <div class="description">“User”/ “You” means and includes you and/or any person or an entity using or accessing the services provided on this Site.</div>
        <div class="description">“Site” means the online transaction platform owned and operated by miBiome which provides a venue to the users of miBiome to buy the products/services listed on www.mibiome.com</div>
        <div class="description">“Services” connotes Pay / Part Pay for the Forms that appears in our website i.e. www.mibiome.com where the user/ applicant can fill the form online and services promoted / displayed on the Site and offered for any use / sale.</div>
        <div class="description">“miBiome” means miBiome Therapeutics LLP.</div>
        <div class="title">Eligibility</div>
        <div class="description">You represent and warrant that you are competent and eligible to enter into legally binding agreement and have the requisite authority to bind the other party to this Agreement. You shall not use this Site if you are not competent to contract under the applicable laws, rules and regulations.</div>
        <div class="title">Modification of Terms and Conditions of Service</div>
        <div class="description">miBiome may at any time modify the terms and conditions of the Service without any prior notification to you. You can access the latest version of the terms at any given time. You should regularly review the terms. In the event wherein the modified terms are not acceptable to you, you should discontinue using the service. However, if you continue to use the service, you agree to accept and abide by the modified terms. Your use of a Site after any amendment to the Terms of Use shall constitute your acceptance of these terms and you also agree to be bound by any such changes / revisions.</div>
        <div class="title">Electronic Communication</div>
        <div class="description">When you visit www.mibiome.com or send e-mails to us or give us your feedback, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this website. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</div>
        <div class="title">Your Privacy</div>
        <div class="description">Respecting your privacy is important to miBiome. The purpose of this statement is to inform you of the kinds of information that we may gather when you use our web site, how we may use the information, and how we may disclose it to other parties. By using our products and services, you agree that this Privacy Statement is acceptable to you and that miBiome is permitted to use your personal information as stated below.</div>
        <div class="title">Information Collected</div>
        <div class="description">
            miBiome collects the following information:
            <ul>
                <li>From visitors to our website, we collect their demographics, IP address and behavior on our website.</li>
                <li>Newsletter subscribers provide their name and email address.</li>
                <li>Registered customers provide details of name, email, mobile, and billing and shipping address. This information is securely stored.</li>
                <li>Customers who purchase genetic tests or counseling service provide their health history through a questionnaire (available offline/online). Once the genetic test is done, their data is analyzed and reports are sent. All this information is stored securely.</li>
            </ul>
        </div>
        <div class="title">Contact Information</div>
        <div class="description">We do not share this information to any third-party mailing lists. We may use this information to assist you in your use of our products, to assess the usefulness of product features, to request feedback about your satisfaction with our products, and to send you information about other products of ours.</div>
        <div class="title">Health & Genetic Information</div>
        <div class="description">
            <ul>
                <li>
                    <div class="list-title">Report generation:</div>
                    Your health and genetic information is confidential and we make sure all information is stored securely. The primary use of genetic information is to assess your genetic predisposition and report this to you Following your genetic counseling, we prepare an action plan to achieve your health goals - this report utilizes your health history and genetic information.
                </li>
                <li>
                    <div class="list-title">De-identification of data:</div>
                    Before your blood/saliva/other sample enters our lab, we make sure it is assigned a unique ID and de-identified, so that your personal information is not accessible to all. Only authorised personnel from our team have access to this information. Throughout the processing, your sample is tracked.
                </li>
                <li>
                    <div class="list-title">Research use:</div>
                    Considering the importance of genetic and health information in research, we use this information without any personal identification for further analysis, with customer’s consent. During sample collection, we send out a consent form to all customers.
                </li>
                <li>
                    <div class="list-title">Disclosure:</div>
                    We do not share any information with unaffiliated parties, except where required to provide you or your organization the ability to use the product as desired or where required to do so by law. If your sample has come to us from a channel partner or a healthcare provider, they may have access to your reports and other information. miBiome will not be held responsible for any violation of privacy in such cases. In the future, miBiome may sell business units, product lines, or other assets. In such cases, customer information may be one of the transferred business assets. Also, if miBiome or substantially all of its assets were to be sold, customer information would be one of the transferred assets. In all such cases, miBiome may disclose the customer information prior to the transaction to a prospective purchaser and its representatives in connection with the purchaser's due diligence investigation.
                </li>
            </ul>
        </div>
        <div class="title">Payment Policy</div>
        <div class="description">
            <ul>
                <li>You have the option to pay the Fee through credit cards, debit cards, cash cards and internet banking. In case of payment mechanism stated above, you agree to abide by the terms of agreements of the miBiome with such third parties (i.e. payment gateway providing services related to electronic payments and collections) who provide such payment mechanism including but not limited to the payment of transaction charges being charged by such third parties for facilitating payment.</li>
                <li>You shall be entitled to avail the Services only on receipt of the Fee in the bank account of the miBiome. In case any payment, though completed at Your end, does not get credited to the miBiome’s bank account due to any defect or fault in the payment mechanism, miBiome shall have no responsibility for the wrong debit to your credit card/bank account. You shall deal with only the third party through whom the payment was routed for such wrong debit.</li>
                <li>In case any transaction done by you is found to be irregular in any manner or whatsoever, the said transaction shall be deemed null and void and shall be cancelled by the miBiome. In case of such transaction, if the payment has got credited to the bank account of the miBiome, the same shall be refunded to your credit card/bank account within 7-10 working days and You shall be duly informed of the same by email and SMS</li>
            </ul>
        </div>
        <div class="title">Card Details</div>
        <div class="description">miBiome does not access, store or keep credit card data. All credit card transactions happening using the specific software through banks or third party gateways and the Company plays no role in the transactions, except for directing the customers to gateways or relevant webpage. Accordingly miBiome shall not be liable for any loss or damage due to any disclosure whatsoever of personal information by those banks or third party gateways.</div>
        <div class="title">Revision Of Charges / Services</div>
        <div class="description">miBiome reserves a right to revise the fees or other charges, or withdraw / suspend / cancel / discontinue any or all of the Services without prior notice, make modifications and alterations in any or all of the content, products and services contained on the site without prior notice and at the sole discretion of miBiome.</div>
        <div class="title">Cancellation / Refund Policy</div>
        <div class="description">Cancellation of Test is allowed only up to the receipt of sample at our facility by writing to us at hello@mibiome.com. In such a case we will refund any payments already made, after accounting the logistical/kit charges. Refund will be processed within 7-10 working days in the original mode of payment.</div>
        <div class="title">Non-delivery Or Late Delivery Due To Mistakes Of User</div>
        <div class="description">In case of non-delivery or late delivery of service, partially or entirely due to a mistake by the user (i.e. wrong / incomplete name / address or recipient not available / wrong sample / defective sample), is chargeable to the user placing the request / using the form.</div>
        <div class="title">Relationship</div>
        <div class="description">None of the provisions of the User Agreement shall be deemed to constitute a partnership or agency between you and miBiome and you shall have no authority to bind miBiome in any manner, whatsoever.</div>
        <div class="title">Download Brochure + Sample Report</div>
        <div class="description">
            On request, miBiome has agreed to provide access and download a copy of the brochure and specimen Test Report on the following express conditions which I hereby declare are binding on me and also declare that but for such acceptance by me, miBiome would not have permitted me to download and obtain printout of the said brochure and specimen report. I have read the Terms and Conditions set out below carefully and after full consideration and understanding of my responsibility, and the fact that the information is provided to me for my bona fide personal use and made available in ‘trust’, I subscribe to the same as under:
            <div class="list-title">Terms and Conditions:</div>
            <ul>
                <li>I have correctly declared my true legal name in the information submitted at the time of my request.</li>
                <li>That I am a person above the age of 18 years and legally competent to enter into a lawful and binding contract.</li>
                <li>That I expressly recognize and do not dispute that miBiome is the sole Copyright holder and Intellectual Property holder in respect of all contents in regard to the test procedure, the process of analysis, layout and contents of the Brochure / Report, the design and artwork and all such other intangible and intellectual property of miBiome which is materially related to the said Report and I undertake not to infringe and/or prejudicially use and/or disclose to any third person the said information / report / material particulars to the prejudice of miBiome.</li>
                <li>That I shall not directly or indirectly derive any commercial benefit from the said material so downloaded by me and/or any intellectual property related thereto.</li>
                <li>I recognize and declare that in case of breach of any of the aforesaid express covenants and all the implied duties of a trustee, miBiome would be entitled to both monetary and injunctive reliefs against me and I consent to passing an injunctive order against me in the event of infringement / breach of the aforesaid undertakings and declarations.</li>
                <li>I solemnly declare as above.</li>
            </ul>
        </div>
        <div class="title">Governing Law And Jurisdiction</div>
        <div class="description">This agreement and the relationship between you and miBiome shall be governed and construed in accordance with the Laws of India without regard to its conflict of law provisions. You hereby irrevocably consent to the exclusive jurisdiction and venue of courts in Mumbai, India, in all disputes arising out of or relating to the use of the sites/services.</div>
        <div class="title">Settlement Of Disputes</div>
        <div class="description">Without prejudice to any provisions in the terms and conditions herein, any dispute or difference arising out of or touching this agreement shall be settled amicably in the first instance. Unresolved disputes or differences shall be referred to a Sole Arbitrator to be appointed/nominated by miBiome. The arbitration shall be governed by the (Indian) Arbitration and Conciliation Act, 1996 and any modifications thereon and rules made thereunder and the law governing the same shall be Indian Laws. The seat of arbitration shall be at Mumbai or at the sole discretion of the miBiome.</div>
        <div class="title">Force Majeure</div>
        <div class="description">miBiome shall have no liability to you for any interruption or delay in access to the Site and service irrespective of the nature of the cause.</div>
        <div class="title">Waiver And Severability</div>
        <div class="description">The failure of miBiome to exercise or enforce any right or provision of the Agreement shall not constitute a waiver of such right or provision. If any provision of the Agreement is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties’ intentions as reflected in the provision, and the other provisions of the Agreement remain in full force and effect.</div>
        <div class="title">Indemnity</div>
        <div class="description">You shall indemnify and hold harmless miBiome and its respective officers, directors, agents, and employees, from any claim or demand, or actions including reasonable attorneys’ fees, made by any third party or penalty imposed due to or arising out of your breach of these terms and conditions.</div>
        <div class="title">Acceptance Of Privacy Policy</div>
        <div class="description">By using miBiome’s sites and services, you signify your acceptance of this “Privacy Statement” and “Terms and Conditions”. If you do not agree or are not comfortable with any policy / terms described in this document, your only remedy is to discontinue use of miBiome sites. We reserve the right to modify this Privacy Statement at any time.</div>
        <div class="title">Entire Agreement</div>
        <div class="description">These Terms of Service constitute the entire agreement between the parties with respect to the subject matter hereof and supersedes and replaces all prior or contemporaneous understandings or agreements, written or oral, regarding such subject matter.</div>
    </div>
</div>
{% endblock main_content %}