.password-wrapper {
    height: 100%;
    width: 80%;
    margin: auto;
}

.password-wrapper .content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password-wrapper .content .info-holder {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.password-wrapper .content .info-section {
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.password-wrapper .content .info-section .title {
    color: #ef476f;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 110%;
    padding-bottom: 0.5rem;
    text-align: center;
}

.password-wrapper .content .info-section .description {
    font-size: 1.2rem;
    font-weight: 300;
}

.password-wrapper .content .info-holder .image-holder {
    width: 100%;
}

.password-wrapper .content .info-holder .image-holder img {
    width: 100%;
}

.password-wrapper .content .form-holder {
    width: 35%;
}

.password-wrapper .content .form-holder form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-wrapper .content .form-holder .title {
    color: #ef476f;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 110%;
    padding-bottom: 1rem;
    text-align: center;
}

.password-wrapper .content .form-holder .description {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 2rem;
}

.password-wrapper .content .form-holder .input-block {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.password-wrapper .content .form-holder .input-block input {
    font-weight: normal;
    color: black;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #acacac;
    outline:none;
}

.password-wrapper .content .form-holder .input-block span.placeholder {
    position: absolute;
    margin: 0.7rem 0rem;
    color:  #acacac;
    display: flex;
    align-items: center;
    font-size: 1rem;
    top: 0;
    left: 1rem;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
}

.password-wrapper .content .form-holder .input-block input:valid + span.placeholder,
.password-wrapper .content .form-holder .input-block input:focus + span.placeholder {
    transform: scale(0.8) translateY(-1.2rem);
    background: #fff;
    padding: 0rem 0.2rem;
}

.password-wrapper .content .form-holder .input-block input:focus {
    color: black;
    border-color: #ef476f;
}

.password-wrapper .content .form-holder .input-block input:focus + span.placeholder {
    color: #ef476f;
}

.password-wrapper .content .form-holder .primary-button {
    margin: auto;
}

.password-wrapper .content .form-holder .signup-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.password-wrapper .content .form-holder .signup-area .highlight-text {
    font-size: 1.4rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
    .password-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .password-wrapper .content {
        padding-top: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .password-wrapper .content .info-holder {
        width: 100%;
        padding-bottom: 2rem;
    }

    .password-wrapper .content .image-wrapper {
        width: 100%;
        margin-bottom: 1rem;
    }

    .password-wrapper .content .form-holder {
        width: 100%;
        padding-bottom: 2rem;
    }
}