.signup-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    margin: 4rem 0rem;
    width: 20rem;
    height: fit-content;
    box-shadow: 2px 2px 2px 2px rgba(10, 10, 10, 0.2);
}

.card-header {
    display: flex;
    justify-content: center;
}

.signup-wrapper .card-body .primary-button {
    width: 100%;
}

#signup-message {
    font-size: 0.7rem;
}

.card-body .custom-anchor {
    color: #0648d4;
    text-decoration: none;
}