.error-wrapper {
    width: 80%;
    margin: auto;
    padding: 4rem 0rem;
}

.error-wrapper .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-wrapper .content .image img {
    width: 25rem;
    padding-bottom: 2rem;
}

.error-wrapper .content .title-text {
    font-size: 1.5rem;
    font-weight: 300;
}

@media screen and (max-width: 576px) {
    .error-wrapper .content .image {
        width: 90%;
    }
}