.form-wrapper {
    width: 50%;
    margin: auto;
}

.form-wrapper .content {
    padding: 2rem 0rem;
}

.form-wrapper .content .page-heading {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 2rem;
}

.form-wrapper .content .error-message {
    font-size: 0.8rem;
    color: red;
}

.form-wrapper .content .section-name {
    font-size: 1.4rem;
    padding-bottom: 0.7rem;
}

.form-wrapper .content .input-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.form-wrapper .content .input-box label {
    font-weight: 300;
}

.form-wrapper .content .input-box .compulsory {
    color: red;
}

.form-wrapper .content .input-box .text-input {
    height: 2rem;
    border-radius: 3px;
    font-weight: 300;
    padding: 0.3rem;
    width: 100%;
    border: 0.5px solid #acacac;
}

.form-wrapper .content .input-box textarea.text-input {
    height: auto;
}

.form-wrapper .content .input-box .text-input:focus {
    height: 2rem;
    border-radius: 3px;
    font-weight: 300;
    padding: 0.3rem;
    width: 100%;
    border: 0.5px solid #0648d4;
    outline: none;
}

.form-wrapper .content .input-box textarea.text-input:focus {
    height: auto;
}

.form-wrapper .content .input-box input[type="radio"] {
    outline: none;
    margin-right: 0.5rem;
}

.form-wrapper .content .input-box input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #acacac;
}

.form-wrapper .content .input-box input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #0648d4;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #acacac;
}

.form-wrapper .content .input-box select {
    height: 2rem;
    border-radius: 3px;
    font-weight: 300;
    padding: 0.3rem;
    width: 100%;
    border: 0.5px solid #acacac;
    background-color: white;
    outline: none;
}

.form-wrapper .content .input-box select:focus {
    height: 2rem;
    border-radius: 3px;
    font-weight: 300;
    padding: 0.3rem;
    width: 100%;
    border: 0.5px solid #0648d4;
    outline: none;
}

@media screen and (max-width: 541px) {
    .form-wrapper {
        width: 80%;
        margin: auto;
    }
}