{% extends '../flash_base.html' %}

{% load static %}

{% block title %}
Password Reset
{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/user/password_reset_complete.css' %}">
{% endblock custom_css %}

{% block main_content %}
<div class="password-wrapper">
    <div class="content">
        <div class="info-holder">
            <div class="info-section">
                <div class="title">Forgot Password?</div>
                <div class="description">You are not alone, this happens to us a lot of times</div>
            </div>
            <div class="image-holder">
                <img src="{% static 'images/forgot_password.svg' %}" alt="Forgot Password">
            </div>
        </div>
        <div class="form-holder">
            <form method="POST">
                {% csrf_token %}
                <div class="title">Password reset complete</div>
                <div class="description">
                    Your password has been set. You may go ahead and log in now.
                </div>
                <a href="{% url 'user:login' %}"><button class="primary-button" type="button">Login</button></a>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}