{% extends '../flash_base.html' %}

{% load static %}

{% block title %}
Password Reset Done
{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/user/password_reset_done.css' %}">
{% endblock custom_css %}

{% block main_content %}
<div class="password-wrapper">
    <div class="content">
        <div class="info-holder">
            <div class="info-section">
                <div class="title">Forgot Password?</div>
                <div class="description">You are not alone, this happens to us a lot of times</div>
            </div>
            <div class="image-holder">
                <img src="{% static 'images/forgot_password.svg' %}" alt="Forgot Password">
            </div>
        </div>
        <div class="form-holder">
            <form method="POST">
                {% csrf_token %}
                <div class="title">Password reset sent</div>
                <div class="description">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</div>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}