{% extends '../flash_base.html' %}

{% load static %}

{% block title %}
Password Reset
{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/user/password_reset.css' %}">
{% endblock custom_css %}

{% block main_content %}
<div class="password-wrapper">
    <div class="content">
        <div class="info-holder">
            <div class="info-section">
                <div class="title">Forgot Password?</div>
                <div class="description">You are not alone, this happens to us a lot of times</div>
            </div>
            <div class="image-holder">
                <img src="{% static 'images/forgot_password.svg' %}" alt="Forgot Password">
            </div>
        </div>
        <div class="form-holder">
            <form method="POST">
                {% csrf_token %}
                <div class="title">Reset your password</div>
                <div class="description">Enter your email address below, and we'll email instructions for setting a new one.</div>
                <div class="input-block mb-5">
                    <input type="email" id="id_email" name="email" required maxlength="254">
                    <span class="placeholder">Email</span>
                </div>
                <button class="primary-button" type="submit">Send email</button>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="error-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{error}}
            </div>
            <div class="modal-footer">
                <button type="button" class="primary-flat-button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block custom_script %}
{% if error %}
<script>
    $(document).ready(function() {
        $('#error-modal').modal('show');
    })
</script>
{% endif %}
{% endblock custom_script %}