{% extends '../flash_base.html' %}

{% load static %}

{% block title %}
Password Reset Confirm
{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/user/password_reset_confirm.css' %}">
{% endblock custom_css %}

{% block main_content %}
<div class="password-wrapper">
    <div class="content">
        <div class="info-holder">
            <div class="info-section">
                <div class="title">Forgot Password?</div>
                <div class="description">You are not alone, this happens to us a lot of times</div>
            </div>
            <div class="image-holder">
                <img src="{% static 'images/forgot_password.svg' %}" alt="Forgot Password">
            </div>
        </div>
        <div class="form-holder">
            <form method="POST">
                {% csrf_token %}
                <div class="title">Set your new password</div>
                <div class="input-block">
                    <input type="password" id="id_new_password1" name="new_password1" required>
                    <span class="placeholder">New Password</span>
                </div>
                <div class="input-block mb-5">
                    <input type="password" id="id_new_password2" name="new_password2" required>
                    <span class="placeholder">Confirm New Password</span>
                </div>
                <button class="primary-button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="error-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for field in form %}
                {% if field.errors %}
                {% for error in field.errors %}
                <div class="mb-1">{{error}}</div>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="mb-1">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="primary-flat-button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block custom_script %}
{% if form.errors %}
<script>
    $(document).ready(function() {
        $('#error-modal').modal('show');
    })
</script>
{% endif %}
{% endblock custom_script %}